Pillow
PyGithub
aiofiles
aiohttp
aria2p
async_generator
asyncurban
beautifulsoup4
bs4
bwb
cfscrape
coffeehouse
cowpy
covid
cryptg
dnspython
emoji
gTTS
gTTS-token
git+https://github.com/pyrogram/pyrogram.git@asyncio-dev
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_images_download
googletrans
gsearch
hachoir
heroku3
httplib2
humanize
lxml
motor
nest_asyncio
oauth2client
psutil
psycopg2
psycopg2-binary
pySmartDL
pybase64
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
pytube
pytz
qrcode
rarfile
regex
removebg
requests
search-engine-parser
selenium==3.141.0
setuptools>=40.3.0
spamwatch
speedtest-cli
sqlalchemy
telegraph
tgcrypto
urbandict
wget
wikipedia
